@*@model HelloModel*@
@using PresentationLayer.Models;
@using DataLayer.Enums;

@model List<DirectoryViewModel> //<DataLayer.Entities.Directory>
@{
    ViewData["Title"] = "Home Page 1";
}

<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <h2> <a asp-action="Index" asp-controller="Page" asp-route-pageId="@item.Directory.Id" asp-route-pageType="@PageEnums.PageType.Directory">@item.Directory.Title</a></h2>
                    @if (item.Materials == null)
                        continue;
                    <ul>
                        @if (item.Materials != null)
                            @foreach (var subItem in item.Materials)
                            {
                                <li>
                                    <a asp-action="Index" asp-controller="Page" asp-route-pageId="@subItem.Material.Id" asp-route-pageType="@PageEnums.PageType.Material">@subItem.Material.Title</a>
                                </li>
                            }
                    </ul>
                </li>
            }
        </ul>
        @*<h1>@Model.HelloMessage</h1>*@
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
